# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: The PoLAR Hub
email: polar@ei.columbia.edu
description: > # this means to ignore newlines until "baseurl:"
  The PoLAR Hub is the official website of the Polar Learning and
  Responding (PoLAR) Climate Change Education Partnership.  In
  addition to featuring the latest in polar climate science, news, and
  research, the Hub provides information on educational resources
  focused on polar climate change, including the games, activities,
  and other innovative tools developed by the PoLAR Partnership.
url: "https://thepolarhub.org" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
collections:
  news_items:
    output: true
  resources:
    output: true
  core_projects:
    output: true
