<footer class="footer text-muted">

    <div class="container">
        <p class="footer-text">
            Contact us at <a href="mailto:polar@ei.columbia.edu">polar@ei.columbia.edu</a>
        </p>

        <p class="footer-text">
            Photos courtesy of <a href="https://www.flickr.com/photos/gsfc/" target="_blank">NASA Goddard</a> and PoLAR Partners.
        </p>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="social-media-list">
                    <li>
                        <a href="https://twitter.com/PoLAR_CCEP">
                            <img height="32" width="32" src="{{ "assets/img/twitter.png" | relative_url }}">
                            <span class="username">PoLAR_CCEP</span>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/PolarPartnership/">
                            <img height="24" width="24" src="{{ "assets/img/facebook.png" | relative_url }}">
                            <span class="username">PoLAR Partnership</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCGtVofgAhrD6tw1e2WAD7BQ">
                            <img height="24" width="34" src="{{ "assets/img/youtube.png" | relative_url }}">
                            <span class="username">PoLAR Partnership</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>{{ site.description | escape }}</p>
            </div>
        </div>

    </div>

</footer>
