<footer class="footer text-muted">

    <div class="container">
        <p class="footer-text">
            Contact us at <a href="mailto:polar@ei.columbia.edu">polar@ei.columbia.edu</a>
        </p>

        <p class="footer-text">
            Photos courtesy of <a href="https://www.flickr.com/photos/gsfc/" target="_blank">NASA Goddard</a> and PoLAR Partners.
        </p>

        <div class="footer-col footer-col-1">
            <ul class="social-media-list">
                <li>
                    <a href="https://twitter.com/PoLAR_CCEP">
                        <img height="32" width="32" src="{{ 'assets/img/twitter.png' | relative_url }}">
                        <span class="username">PoLAR_CCEP</span>
                </li>
                <li>
                    <a href="https://www.facebook.com/PolarPartnership/">
                        <img height="24" width="24" src="{{ 'assets/img/facebook.png' | relative_url }}">
                        <span class="username">PoLAR Partnership</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCGtVofgAhrD6tw1e2WAD7BQ">
                        <img height="24" width="34" src="{{ 'assets/img/youtube.png' | relative_url }}">
                        <span class="username">PoLAR Partnership</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="logos">
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <a href="https://www.amnh.org/"><img src="{{ 'assets/img/logos/logo-amnh.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://www.arcticchange.org/"><img src="{{ 'assets/img/logos/logo-aina.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://www.ainealaska.org/"><img src="{{ 'assets/img/logos/logo-aine.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://barnard.edu/"><img src="{{ 'assets/img/logos/logo-barnard.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://climate.columbia.edu/"><img src="{{ 'assets/img/logos/logo-ccc.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://ctl.columbia.edu/"><img src="{{ 'assets/img/logos/logo-ctl-black.png' | relative_url}}"></a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <a href="http://cred.columbia.edu/"><img src="{{ 'assets/img/logos/logo-cred.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://www.doyonfoundation.com/"><img src="{{ 'assets/img/logos/logo-df.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://www.earthinstitute.columbia.edu/"><img src="{{ 'assets/img/logos/logo-ei.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://www.grginc.com/"><img src="{{ 'assets/img/logos/logo-grg.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://uaf-iarc.org/"><img src="{{ 'assets/img/logos/logo-iarc.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://www.ldeo.columbia.edu/"><img src="{{ 'assets/img/logos/logo-ldeo.png' | relative_url}}"></a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <a href="https://www.uaf.edu/museum/"><img src="{{ 'assets/img/logos/logo-motn.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://www.nsf.gov/"><img src="{{ 'assets/img/logos/logo-nsf.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://www.tc.columbia.edu/"><img src="{{ 'assets/img/logos/logo-tc.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://www.uaf.edu/"><img src="{{ 'assets/img/logos/logo-uaf.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="https://www.unh.edu/"><img src="{{ 'assets/img/logos/logo-unh.png' | relative_url}}"></a>
                </div>
                <div class="p-2">
                    <a href="http://www.writerguy.com/"><img src="{{ 'assets/img/logos/logo-writerguy.png' | relative_url}}"></a>
                </div>
            </div>
        </div>
        <p>
            The PoLAR Hub is based upon work supported by the National Science Foundation under Grant Number DUE-1239783
        </p>
    </div>

</footer>
