---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

nav {
    background-image: url('img/aurora.jpg');
    color: white;
}

.page-content {
    margin-top: 20px;
}

.footer {
    background-color: #f7f7f7;
    padding: 4rem 0;

    .social-media-list {
        padding-left: 0;
        li {
            display: inline-block;
            margin-right: 20px;
            img {
                position: relative;
                bottom: 4px;
            }
        }
    }

    .footer-text {
        text-align: center;
        margin-bottom: 3rem;
    }
}

img.partner {
    width: 100px;
    margin-right: 20px;
}