---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

header.site-header {
    background-image: url('img/meltwaterpond.jpg');
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8)!important;/*Opacity override for readable links*/
}


.page-content {
    margin-top: 20px;
}

.footer {
    padding: 2rem 0;

    .social-media-list {
        padding-left: 0;
        li {
            display: inline-block;
            margin-right: 18px;
            img {
                position: relative;
                bottom: 4px;
            }
        }
    }

    .footer-text {
        text-align: center;
        margin-bottom: 1rem;
    }

    .logos {
        img {
            max-width: 170px;
        }
        
        .d-flex {
            height: 140px;
        }
    }
}

img.partner {
    width: 100px;
    margin-right: 20px;
}

.media>img {
    max-width: 140px;
}

.media {
    margin-bottom: 1em;
}

img.news-header-image {
    margin-left: 0.5em;
    max-width: 600px;
    max-height: 500px;
}

nav.pagination-holder {
    margin: 1.25em 0em;
}

.core-project-list-container {
    background-color: #2aace7;
    border-radius: 10px;

    .cp-item {
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        display: flex;
        flex-flow: column nowrap;
        &:hover {
            background-color: #FFFFFF;
        }

        .cp-item-title {
            margin-top: 1em;
            font-weight: bold;
            text-align: center;
            flex: 2 2 20%;
            a {
                color: black;
            }
        }

        .cp-item-image {
            display: flex;
            flex-flow: row;
            justify-content: center;
            margin-bottom: 1em;
            flex: 2 2 20%;

            img {
                height: 5em;
                width: 5em;
                border-radius: 50%;
            }
        }

        .cp-item-caption {
            text-align: center;
            display: flex;
            flex: 3 3 300px;
            font-size: .80em
        }
    }
}

div.container.core-project {
    img {
        width: 50%;
        margin: 0 0 3em 3em;
    }
}

#loader-animation-container
{
	height: 200px;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

    .ball-pulse > div { background-color: #666; }
}

