<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        {{ content }}

        <div class="row core-project-list-container">
            {% assign core-projects = site.core_projects | sort: 'title' %}
            {% for cp in core-projects %}
            <div class="col m-2 cp-item">
                <div class="cp-item-title"><a href="{{ cp.permalink }}">{{ cp.short-title }}</a></div>
                <div class="cp-item-image"><a href="{{ cp.permalink }}"><img src="{{ cp.landing-page-image | relative_url }}"></a></div>
                <div class="cp-item-caption">
                    {{ cp.landing-page-description }} 
                </div>
            </div>
            {% endfor %}
        </div>

      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
