<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}
    <body>

        {% include header.html %}

        <main class="page-content" aria-label="Content">
            <div class="container">
                <div class="row">
                    <div class="form-group col">
                        <label for="q">
                            Search
                        </label>
                        <input class="form-control" type="search" id="q">
                    </div>
                    <div class="form-group col">
                        <label for="formClimateTopics">Climate Topics</label>
                        <select class="form-control"
                                id="formClimateTopics">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="formPolarTopics">Polar Topics</label>
                        <select class="form-control"
                                id="formPolarTopics">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="formResourceType">Resource Type</label>
                        <select class="form-control"
                                id="formResourceType">
                            <option value="">All</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="formAudience">Audience</label>
                        <select class="form-control"
                                id="formAudience">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <nav class="pagination-holder" aria-label="Search results pages"></nav>
                <div id="search-results"></div>
            </div>
        </main>

        {% include footer.html %}

        <script src="{{ "/assets/js/lib/lunr.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/src/search.js" | relative_url }}"></script>
        <link rel="stylesheet" href="{{ "/assets/css/simplePagination.css" | relative_url }}">
        <script src="{{ "/assets/js/lib/jquery.simplePagination.js" | relative_url }}"></script>
    </body>

</html>
