---
layout: default
---

<div class="home">

    {{ content }}

    <div class="d-flex justify-content-between">
        <div class="p2">
            <iframe width="400" height="250" src="https://www.youtube.com/embed/mqF1dpLrE40" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="p2">
            <a class="twitter-timeline" data-width="520" data-height="460" href="https://twitter.com/PoLAR_CCEP">Tweets by PoLAR_CCEP</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
