---
layout: default
---

<div class="home">

    {{ content }}

    <div class="pull-left">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mqF1dpLrE40" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="pull-right">
        <a class="twitter-timeline" data-width="520" data-height="460" href="https://twitter.com/PoLAR_CCEP">Tweets by PoLAR_CCEP</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div style="text-align: center;">
        <p>
            Follow us on <a href="https://twitter.com/PoLAR_CCEP" target="_blank">Twitter</a> and
            <a href="https://www.facebook.com/PolarPartnership" target="_blank">Facebook</a>.
        </p>
        <p>
            Photos courtesy of <a href="https://www.flickr.com/photos/gsfc/" target="_blank">NASA Goddard</a> and PoLAR Partners.
        </p>
    </div>

</div>
